<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>I believe the security of having parents that deal justly and with understanding, when a child’s.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>543348957.69341505</real>
				<key>lastModification</key>
				<real>543348957.69341505</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>When dealing with “perceived” lying in young children, it would be wise to investigate before.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>543354661.21239698</real>
				<key>lastModification</key>
				<real>543354661.21239698</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>162</integer>
				</dict>
			</dict>
			<key>Whenever our rural Alabama schools celebrated a major holiday, it was always a special and joyous.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>543354775.35635698</real>
				<key>lastModification</key>
				<real>543354775.35635698</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>163</integer>
				</dict>
			</dict>
			<key>and Mother was quite certain that it was not an edible.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>543354618.78727806</real>
				<key>lastModification</key>
				<real>543354618.78727806</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>160</integer>
				</dict>
			</dict>
			<key>cotton patch 01.md</key>
			<dict>
				<key>lastModification</key>
				<real>543356390.92184401</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>179</integer>
				</dict>
			</dict>
			<key>cotton patch 02.md</key>
			<dict>
				<key>lastModification</key>
				<real>543356394.873564</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>181</integer>
				</dict>
			</dict>
			<key>cotton patch 03.md</key>
			<dict>
				<key>lastModification</key>
				<real>543356398.93456304</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>183</integer>
				</dict>
			</dict>
			<key>cotton patch 04.md</key>
			<dict>
				<key>lastModification</key>
				<real>543356403.61638904</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>185</integer>
				</dict>
			</dict>
			<key>cotton patch 05.md</key>
			<dict>
				<key>lastModification</key>
				<real>543356407.89434195</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>187</integer>
				</dict>
			</dict>
			<key>cotton patch 06.md</key>
			<dict>
				<key>lastModification</key>
				<real>543356412.61174905</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>189</integer>
				</dict>
			</dict>
			<key>cotton patch 07.md</key>
			<dict>
				<key>lastModification</key>
				<real>543356416.53732204</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>191</integer>
				</dict>
			</dict>
			<key>cotton patch 08.md</key>
			<dict>
				<key>lastModification</key>
				<real>543356421.28139806</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>193</integer>
				</dict>
			</dict>
			<key>cotton patch 09.md</key>
			<dict>
				<key>lastModification</key>
				<real>543356425.42356598</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>195</integer>
				</dict>
			</dict>
			<key>cotton patch 10.md</key>
			<dict>
				<key>lastModification</key>
				<real>543348703.17678106</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>cotton patch 11.md</key>
			<dict>
				<key>lastModification</key>
				<real>543348630.87944901</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>cotton patch 12.md</key>
			<dict>
				<key>lastModification</key>
				<real>543348890.69236803</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>cotton patch 1998 Bluebirds 1998a.md</key>
			<dict>
				<key>lastModification</key>
				<real>543356647.17499304</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>197</integer>
				</dict>
			</dict>
			<key>cotton patch 1999-06.md</key>
			<dict>
				<key>lastModification</key>
				<real>543350296.96373606</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>cotton patch 1999-07.md</key>
			<dict>
				<key>lastModification</key>
				<real>543350589.65360999</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>81</integer>
				</dict>
			</dict>
			<key>cotton patch 1999-08.md</key>
			<dict>
				<key>lastModification</key>
				<real>543350413.71435797</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>77</integer>
				</dict>
			</dict>
			<key>cotton patch 1999-09 Unfinished Prejudice Story 1999-09-29.md</key>
			<dict>
				<key>lastModification</key>
				<real>543352697.35262406</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>cotton patch 1999-09 Unfinished Prejudice Story 1999-09-30.md</key>
			<dict>
				<key>lastModification</key>
				<real>543352707.31893098</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>116</integer>
				</dict>
			</dict>
			<key>cotton patch 1999-11 Unfinished Prejudice Story 2000-02-06.md</key>
			<dict>
				<key>lastModification</key>
				<real>543352741.59028399</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>118</integer>
				</dict>
			</dict>
			<key>cotton patch volume 2 Christmas.md</key>
			<dict>
				<key>lastModification</key>
				<real>543355619.54407001</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>172</integer>
				</dict>
			</dict>
			<key>cotton patch volume 2 Halloween.md</key>
			<dict>
				<key>lastModification</key>
				<real>543355928.64928901</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>173</integer>
				</dict>
			</dict>
			<key>cotton patch volume 2 The Unforgettable Lie.md</key>
			<dict>
				<key>lastModification</key>
				<real>543354486.30980599</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>158</integer>
				</dict>
			</dict>
			<key>cotton patch volume 2 winter 1.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>543353544.45244801</real>
				<key>lastModification</key>
				<real>543353544.45244801</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>149</integer>
				</dict>
			</dict>
			<key>cotton patch winter 1.md</key>
			<dict>
				<key>lastModification</key>
				<real>543349124.22953296</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>cotton patch winter 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>543349469.55913103</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>65</integer>
				</dict>
			</dict>
			<key>cotton patch winter 3.md</key>
			<dict>
				<key>lastModification</key>
				<real>543349330.560781</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>61</integer>
				</dict>
			</dict>
			<key>helping to raise money for the benefit of the school .....remember the hand-walking, cigar-smoking.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>543347889.78745902</real>
				<key>lastModification</key>
				<real>543347889.78745902</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>playground, and even stuck his face in the crevices of our playhouse, singing all the while.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>543348964.50880897</real>
				<key>lastModification</key>
				<real>543348964.50880897</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>48</integer>
				</dict>
			</dict>
			<key>with some rather strict rules. The first rule was that of being quiet, and the second one was that.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>543353409.87168002</real>
				<key>lastModification</key>
				<real>543353409.87168002</real>
				<key>version</key>
				<dict>
					<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
					<integer>148</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>543346577.36175394</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>helping to raise money for the benefit of the school .....remember the hand-walking, cigar-smoking.md</string>
		</array>
		<array>
			<string>playground, and even stuck his face in the crevices of our playhouse, singing all the while.md</string>
		</array>
		<array>
			<string>I believe the security of having parents that deal justly and with understanding, when a child’s.md</string>
		</array>
		<array>
			<string>cotton patch volume 2 winter 1.md</string>
		</array>
		<array>
			<string>cotton patch volume 2 Christmas.md</string>
		</array>
		<array>
			<string>cotton patch volume 2 The Unforgettable Lie.md</string>
		</array>
		<array>
			<string>When dealing with “perceived” lying in young children, it would be wise to investigate before.md</string>
		</array>
		<array>
			<string>with some rather strict rules. The first rule was that of being quiet, and the second one was that.md</string>
		</array>
		<array>
			<string>and Mother was quite certain that it was not an edible.md</string>
		</array>
		<array>
			<string>Whenever our rural Alabama schools celebrated a major holiday, it was always a special and joyous.md</string>
		</array>
		<array>
			<string>cotton patch volume 2 Halloween.md</string>
		</array>
		<array>
			<string>cotton patch 1999-11 Unfinished Prejudice Story 2000-02-06.md</string>
		</array>
		<array>
			<string>cotton patch 1998 Bluebirds 1998a.md</string>
		</array>
		<array>
			<string>cotton patch 1999-09 Unfinished Prejudice Story 1999-09-30.md</string>
		</array>
		<array>
			<string>cotton patch 1999-07.md</string>
		</array>
		<array>
			<string>cotton patch 1999-08.md</string>
		</array>
		<array>
			<string>cotton patch 1999-06.md</string>
		</array>
		<array>
			<string>cotton patch winter 2.md</string>
		</array>
		<array>
			<string>cotton patch winter 3.md</string>
		</array>
		<array>
			<string>cotton patch winter 1.md</string>
		</array>
		<array>
			<string>cotton patch 12.md</string>
		</array>
		<array>
			<string>cotton patch 10.md</string>
		</array>
		<array>
			<string>cotton patch 11.md</string>
		</array>
		<array>
			<string>cotton patch 09.md</string>
		</array>
		<array>
			<string>cotton patch 08.md</string>
		</array>
		<array>
			<string>cotton patch 07.md</string>
		</array>
		<array>
			<string>cotton patch 06.md</string>
		</array>
		<array>
			<string>cotton patch 01.md</string>
		</array>
		<array>
			<string>cotton patch 02.md</string>
		</array>
		<array>
			<string>cotton patch 04.md</string>
		</array>
		<array>
			<string>cotton patch 03.md</string>
		</array>
		<array>
			<string>cotton patch 05.md</string>
		</array>
		<array>
			<string>cotton patch 1999-09 Unfinished Prejudice Story 1999-09-29.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
			<integer>198</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>fb655eafa11e901b9e46187ff65a39ffac2ca569f74119fbd9307415178c632f</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
